
/*Colors
* From TailwindCSS
*/
$color-bg: #EEF2FF;
$color-primary: #4F46E5;
$color-primary-700: #4338CA;
$color-primary-800: #3730A3;

$color-success: #22C55E;
$color-error: #DC2626;
$color-warning: #F59E0B;
